@charset "utf-8";

.nav{
    font-weight: bold;
    font-size: 50px;
    visibility: hidden;
    font-family: 'Sacrament' , cursive;
    text-align: center;
    margin-top: 200px;
    }

p{
    text-align: right;
    font-weight: bold;
    }

h1{
     text-align: center;
     font-size: 85px;
     font-family: 'Sacrament' , cursive;
    }

h2{
	 font-family: 'Sacrament' , cursive;
	}

img{
    width: 75%;
    }

.p{
    display: inline-block;
    text-align: right;
    font-size: 200%;
    margin-left: 80px;
    }

/*body {background-image: url("images/ghead.jpg"); }*/


/*１枚目*/
@keyframes slide1 {
	0% {opacity: 0; transform: scale(1);}
	10% {opacity: 1;}
	40% {transform: scale(1.05);}
	50% {opacity: 1;}
	60% {opacity: 0;}
	100% {opacity: 0;}
}
/*２枚目*/
@keyframes slide2 {
	0% {opacity: 0;}
	25% {opacity: 0; transform: scale(1);}
	35% {opacity: 1;}
	65% {transform: scale(1.05);}
	75% {opacity: 1;}
	85% {opacity: 0;}
	100% {opacity: 0;}
}
/*３枚目*/
@keyframes slide3 {
	0% {opacity: 0;}
	50% {opacity: 0; transform: scale(1);}
	60% {opacity: 1;}
	80% {opacity: 1;}
	90% {opacity: 0; transform: scale(1.05);}
	100% {opacity: 0;}
}
/*mainimg
---------------------------------------------------------------------------*/
/*画像ブロック*/
#mainimg, #subimg {
	clear: both;
	/*max-width: 1500px;	style.cssの「#container」と設定と合わせる*/
	width: 100%;	/*※マニュアル用に追加*/
	overflow: hidden;
	margin: 0 auto;
	/*position: absolute;*/
	position: relative;	/*※マニュアル用に追加*/
}
/*subimgブロックの画像*/
#subimg img {
	width: 100%;
}
/*３枚画像の共通設定*/
.slide1,.slide2,.slide3 {
	animation-duration: 20s;	/*実行する時間。「s」は秒の事。*/
	animation-iteration-count:infinite;		/*実行する回数。「infinite」は無限に繰り返す意味。*/
	position: absolute;left:0px;top:0px;width: 100%;height: auto;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-delay: 1s;
}
/*土台画像*/
.slide0 {
	position: relative;width: 100%;height: auto;
}
/*１枚目*/
.slide1 {
	animation-name: slide1;		/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*２枚目*/
.slide2 {
	animation-name: slide2;		/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*３枚目*/
.slide3 {
	animation-name: slide3;		/*上で設定しているキーフレーム（keyframes）の名前*/
}


.box{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 250%;
	margin-top: 200px;
	}
   
.vegtable{
	color: blue;
	font-size: 48px;
	font-weight: bold;
	}


.price{
	color: red;
	font-size: 48px;
	font-weight: bold;
}

.customer{
	color: blue;
	font-size: 48px;
	font-weight: bold;
	}

.fresh{
	color: red;
	font-size: 48px;
	font-weight: bold;
	}

.boil{
	color: blue;
	font-size: 48px;
	font-weight: bold;
	}
	
.one{
	color: red;
	font-size: 48px;
	font-weight: bold;
	}

.suply{
	color: blue;
	font-size: 48px;
	font-weight: bold;
	}

.place{
	color: red;
	font-size: 48px;
	font-weight: bold;
	}


.domain{
	color: blue;
	font-size: 48px;
	font-weight: bold;
	}

.yasai{
	width: 100%;
	}

.box2{
	width: 100%;
	text-align: center;
	margin-top: 200px;
	}

.box3{
	font-size: 25px;
	font-weight: bold;
	margin-top: 200px;
	text-align: center;
	line-height: 250%;
	}

.kudamono{
	color: blue;
	font-size: 48px;
	font-weight: bold;
	}

.frezer{
	color: red;
	font-size: 48px;
	font-weight: bold;
	}


.effort{
	color: blue;
	font-size: 48px;
	font-weight: bold;
	}
	
.car{
	color: red;
	font-size: 48px;
	font-weight: bold;
	}	
	
.defend{
	color: blue;
	font-size: 48px;
	font-weight: bold;
	}	
	
.satisfaction{
	color: red;
	font-size: 48px;
	font-weight: bold;
	}
.deliver{
	color: blue;
	font-size: 48px;
	}
	

.top{
    height: 35px;
    width: 200px;
    color: blue;
    font-weight: bold;
    text-align:center;
    font-size: 25px;
    border-radius: 35%;
    }

textarea{
    text-align:center;
    font-weight: bold;
    height: 25px;
    width: 180px; 
    margin-top: 150px;
    border-radius: 35%;
    }







